@using Exercise15_2.Models
@model List<Person>

@{
    ViewBag.Title = "VisAlle";
}

<h2>VisAlle</h2>

@foreach (Person p in Model)
{
    @(p.Fornavn + " " + p.Efternavn)
    @Html.Partial("VisEnPerson", p)
    @Html.Action("VisEnPerson", "Home", new { P = p });
    <br />
}

