
@{
    ViewBag.Title = "BuyAndSell";
}

<h2>BuyAndSell</h2>

@section BuySection
{
    <br /> Buy Section, Her på buy and sell kan du købe ting
}

@section SaleSection
{
    <br /> Sale Section, Her på buy and sell kan du sælge ting
}
