
@{
    ViewBag.Title = "MoreSales";
}

<h2>MoreSales</h2>

<br/>
<div>
    More Sales fra RenderBody
</div>

@section SaleSection 
    {
        <div>
            Dette er den avancerede salgs side
        </div>
    }

