
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculatorResult</title>
</head>
<body>
    <div> 
        <h1>TimeCalculatorResult</h1>
        @ViewBag.Hours hours + @ViewBag.Minutes minutes + @ViewBag.Seconds seconds = @ViewBag.Total seconds in total
    </div>
</body>
</html>
