
@{
    ViewBag.Title = "BuyAndSell";
}

<h2>BuyAndSell</h2>

@section SaleSection
    {
        <div>
            Sælg her
        </div>
    }

@section BuySection
    {
        <div>
            Køb her
        </div>
    }