@using Lektion8.Models
@model List<Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VisAlle</title>
</head>
<body>
    <div> 
        <ul>
        @foreach (Person p in Model)
            {
                <li>
                    @p.FirstName
                    @p.LastName
                </li>
            }
        </ul>
    </div>
</body>
</html>
