@model Lektion8.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VisEn</title>
</head>
<body>
    <div>
        @*Html.Partial("_VisEnPerson")*@
        @Html.Action("VisEnPerson", new { P = @Model })
    </div>
</body>
</html>
