@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div>
        @using (Html.BeginForm("Index", "Exercise01", FormMethod.Get))
        {
            @Html.DropDownList("Countries")
            <button type="button"> Show country code </button>
            if (ViewBag.CountryCode != null)
            {<strong>Country code: </strong>@ViewBag.CountryCode
        }
        }

    </div>
</body>
</html>
