@model Opg61.Models.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeIndex</title>
</head>
<body>
    <div> 
        @Model.Name
    </div>
</body>
</html>
